html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cow-button {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.cow-button .face:hover {
    scale: 1.1;
}

.face {
    position: relative;
    display: inline-block;
    margin: 100px 0;
    height: 285px;
    width: 265px;
    background: white;
    border-radius: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 2px solid black;
    box-shadow: inset 20px 0 10px 2px silver;
  }
  .face::after {
    content: '';
    position: absolute;
    height: 65px;
    width: 95px;
    background: black;
    border-radius: 40px 20px 50px 20px;
    top: 15px;
    left: 35px;
    transform: skew(-30deg);
  }
  .ear1 {
    position: relative;
    height: 50px;
    width: 60px;
    background: white;
    border-radius: 40px 5px 40px 5px;
    border: 2px solid black;
    top: 26px;
    left: -26px;
    transform: rotate(18deg);
    z-index: -1;
    box-shadow: 0 0 3px 1px black, inset 3px 0 5px 7px silver;
  }
  .ear2 {
    position: relative;
    height: 50px;
    width: 60px;
    background: white;
    border-radius: 40px 5px 40px 5px;
    border: 2px solid black;
    top: -25px;
    left: 235px;
    transform: rotate(55deg);
    z-index: -1;
    box-shadow: 0 0 3px 1px black, inset -3px 2px 5px 7px silver;
  }
  .patch1 {
    position: absolute;
    height: 30px;
    width: 35px;
    background: black;
    border-radius: 50%;
    left: 7px;
    transform: skew(-25deg);
  }
  .patch2 {
    position: absolute;
    height: 15px;
    width: 25px;
    background: black;
    border-radius: 50%;
    top: -3px;
    left: 30px;
    transform: skew(4deg);
  }
  .mouth {
    position: relative;
    display: inline-block;
    margin: 100px 0;
    height: 115px;
    width: 262px;
    top: -37px;
    background: #F6BED6;
    border-radius: 45px;
    border-bottom-left-radius: 148px;
    border-bottom-right-radius: 148px;
    border: 2px solid black;
    box-shadow: inset 15px 0 10px 5px silver;
    z-index:1;
  }
  .eye1 {
    position: relative;
    height: 50px;
    width: 45px;
    background: black;
    border-radius: 50%;
    top: -306px;
    left: 55px;
    z-index: 0;
  }
  .eye2 {
    position: relative;
    height: 50px;
    width: 45px;
    background: black;
    border-radius: 50%;
    top: -356px;
    left: 175px;
  }
  .nose1 {
    position: relative;
    height: 12px;
    width: 25px;
    background: #FBCFFC;
    border-radius: 50%;
    border: 2px solid black;
    top: 30px;
    left: 43px;
    box-shadow: inset 0 0 6px 2px silver;
  }
  .nose2 {
    position: absolute;
    height: 12px;
    width: 25px;
    background: #FBCFFC;
    border-radius: 50%;
    border: 2px solid black;
    top: 30px;
    left: 195px;
    box-shadow: inset 0 0 6px 2px silver;
  }
  .horn1 {
    display: inline-block;
    position: relative;
    height: 70px;
    width: 40px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid black;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: -610px;
    left: -30px;
    transform: rotate(-40deg);
    z-index: -1;
  }
  .horn1::after {
    content: '';
    position: absolute;
    height: 90px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid black;
    left: -25px;
    top: -6px;
    transform: rotate(34deg); 
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .horn2 {
    display: inline-block;
    position: relative;
    height: 90px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: -580px;
    left: 50px;
    transform: rotate(0deg);
    z-index: -1;
  }
  .horn2::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 40px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid black;
    left: -7px;
    top: -10px;
    transform: rotate(33deg); 
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  
  .fig {
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 400px;
    background: white;
    top: 200px;
    left: -55px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
   
    border: 2px solid black;
    border-bottom-color: #d3d3d3;
    box-shadow: inset 20px 0 10px 2px silver;
    z-index: 0;
  }
  .fig::before{
    content:'';
    position: absolute;
    height: 100px;
    width: 120px;
    background: black;
    border-radius: 50%;
    top: 180px;
    left: -30px;
    z-index: 1;
  }
  
  .fig::after {
    content:'';
    position: absolute;
    height: 100px;
    width: 120px;
    background: black;
    border-radius: 50%;
    top: 180px;
    left: 300px;
  }
  .b1 {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 250px;
    background: white;
    top: -10px;
    left: -5px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
   
    border: 2px solid black;
    border-bottom-color: #d3d3d3;
    box-shadow: inset 20px 0 10px 2px silver;
    z-index: 1;
  }
  .b1::before {
    content: '';
    position: absolute;
    height: 120px;
    width: 140px;
    background: black;
    border-radius: 50%;
    top: 220px;
    left: -12px;
    z-index: 1;
  }
  .b1::after {
    content: '';
    position: absolute;
    height: 120px;
    width: 140px;
    background: black;
    border-radius: 50%;
    top: 220px;
    left: 116px;
    z-index: 1;
  }
  .patch3 {
    position: absolute;
    height: 45px;
    width: 95px;
    background: black;
    border-radius: 45%;
    top: 95px;
    left: 140px;
    transform: skew(-30deg);
  }
  
  .patch3::before {
    content:'';
    position: absolute;
    height: 40px;
    width: 75px;
    background: black;
    border-radius: 20px 45px 10px 45px;
    top: 60px;
    left: -125px;
    transform: rotate(30deg) skew(50deg);
  }
  .patch3::after {
    content:'';
    position: absolute;
    height: 45px;
    width: 65px;
    background: black;
    border-radius: 20px 45px 20px 45px;
    top: 40px;
    left: 40px;
    transform: rotate(10deg) skew(50deg);
  }