@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202938;
  --foreground: #d1d5e7;
  --background-start: #414e5e;
  --background-end: #232c3d;
}

body {
  color: var(--foreground);
  background: linear-gradient(165deg, var(--background-start), var(--background-end));
  font-family: 'Inter', sans-serif;
  animation: rotateGradient 1m linear infinite;
}

@keyframes rotateGradient {
  0% {
  background: linear-gradient(150deg, var(--background-start), var(--background-end));
  }
  50% {
  background: linear-gradient(180deg, var(--background-start), var(--background-end));
  }
  100% {
  background: linear-gradient(150deg, var(--background-start), var(--background-end));
  }
}
